<header class=" inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-center lg:justify-between p-9 lg:px-8" aria-label="Global">
    <div class="hidden lg:block flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Doctolib</span>
      </a>
    </div>
    <div class="flex gap-x-12">
      <a routerLink="/home" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
      <a routerLink="/home/my-appointments" class="text-sm font-semibold leading-6 text-gray-900">Mes rendez vous</a>
      <a routerLink="/home/appointments-list" class="text-sm font-semibold leading-6 text-gray-900">Rendez-vous disponibles</a>
    </div>
    <div class="flex lg:flex-1 justify-end lg:mr-10 mr-0 ml-12">


      <div class="dropdown" tabindex="0">
        <a class="text-sm font-semibold leading-6 text-gray-900">Mon profil</a>
        <div class="dropdown-content" tabindex="0">
          <a routerLink="/home/profile" class="text-sm font-semibold leading-6 text-gray-900">Mon compte</a>
          <a (click)="logout()" routerLink="/login" class="text-sm font-semibold leading-6 text-gray-900">Déconnexion</a>
        </div>
      </div>

    </div>
  </nav>
</header>

