<section class="text-gray-600 body-font">
  <div class="container px-5 pt-10 pb-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">À propos de votre médecin</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Veuillez trouver ci-dessous les informations du médecin concernant le rendez-vous que vous avez réservé</p>
    </div>

    <div class="justify-center flex">
      <div class="bg-white shadow-md rounded my-6 p-10" style="min-width:450px;min-height:450px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22);display: flex;
      flex-direction: column;">


        <div class="sm:flex sm:justify-between">
          <div class="flex items-center">
            <img class="h-20 w-20 rounded-full" src="{{ doctor?.photo }}" alt="Doctor picture">
            <div class="ml-6">
              <h3 class="text-2xl text-gray-800 font-medium mb-0">{{ doctor?.name }}</h3>
              <span class="text-gray-600">{{ doctor?.specialty }}</span>
            </div>
          </div>
        </div>
        <div class="mt-14">
          <h4 class="text-gray-600 text-sm mb-0">Conventionné</h4>
          <span class="text-lg font-medium text-gray-800">{{ doctor?.conventioned | conventionnedStatus}}</span>
        </div>
        <div class="mt-3">
          <h4 class="text-gray-600 text-sm mb-0">Moyen de paiement</h4>
          <span class="text-lg font-medium text-gray-800">{{ doctor?.payment }}</span>
        </div>
        <div class="mt-3">
          <h4 class="text-gray-600 text-sm mb-0">Adresse du docteur</h4>
          <span class="text-lg font-medium text-gray-800">{{ doctor?.address }}</span>
        </div>
      </div>

    </div>
  </div>
</section>
