<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Créer un nouveau comptet</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST" [formGroup]="registerForm" (ngSubmit)="addUser()">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Adresse mail</label>
          <div class="mt-2">
            <input style="padding:8px" id="email" name="email" type="email" formControlName="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="registerForm.get('email')?.hasError('invalidEmail')">
            <p class="text-red-500 text-sm mt-1">Il ne s'agit pas d'une email valide ! </p>
          </div>

        </div>
        <div>
          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nom complet</label>
          <div class="mt-2">
            <input style="padding:8px" id="name" name="name" type="text" formControlName="name" autocomplete="name" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="registerForm.get('name')?.hasError('specialChars')">
            <p class="text-red-500 text-sm mt-1">Le nom ne doit pas contenir de caractères spéciaux.</p>
          </div>
        </div>
        <div>
          <label for="birthdate" class="block text-sm font-medium leading-6 text-gray-900">Date de naissance</label>
          <div class="mt-2">
            <input style="padding:8px" id="birthdate" name="birthdate" type="date" formControlName="birthdate" autocomplete="birthdate" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Telephone</label>
          <div class="mt-2">
            <input style="padding:8px" id="phone" name="phone" type="tel" formControlName="phone" autocomplete="phone" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
            <div *ngIf="registerForm.get('phone')?.hasError('chiffresSeuls')">
              <p class="text-red-500 text-sm mt-1">Le numéro de téléphone ne peut contenir que des numéros</p>
            </div>
          </div>
        </div>
        <div>
          <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Adresse</label>
          <div class="mt-2">
            <input style="padding:8px" id="address" name="address" type="text" formControlName="address" autocomplete="address" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="registerForm.get('address')?.hasError('specialChars')">
            <p class="text-red-500 text-sm mt-1">L'adresse ne doit pas contenir de caractères spéciaux.</p>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe</label>
            <div class="text-sm">
            </div>
          </div>
          <div class="mt-2">
            <input style="padding:8px" id="password" name="password" type="password" autocomplete="current-password" formControlName="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
            <div *ngIf="registerForm.get('password')?.hasError('minlength')">
              <p class="text-red-500 text-sm mt-1">Le mot de passe doit contenir au moins 4 caractères.</p>
            </div>
          </div>

          <div class="flex items-center justify-between" style="margin-top:10px">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Répéter mot de passe</label>
            <div class="text-sm">
            </div>
          </div>
          <div class="mt-2">
            <input style="padding:8px" id="password" name="password" type="password" autocomplete="current-password" formControlName="confirmPassword" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-400 sm:text-sm sm:leading-6">
            <div *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')">
              <p class="text-red-500 text-sm mt-1">Le mot de passe doit contenir au moins 4 caractères.</p>
            </div>
            <div *ngIf="registerForm.hasError('passwordMismatch')">
              <p class="text-red-500 text-sm mt-1">Les mots de passe ne correspondent pas.</p>
            </div>
          </div>

        </div>

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-teal-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-400">S'enregistrer</button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Déjà inscrit ?
        <a routerLink="/login" class="font-semibold leading-6 text-teal-400 hover:text-teal-300">Se connecter</a>
      </p>
    </div>
  </div>
